<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OpretBugItemSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://virfacilia:8081/OpretBugItem.asmx"
                binding="basicHttpBinding" bindingConfiguration="OpretBugItemSoap"
                contract="TfsOpretBugProxy.OpretBugItemSoap" name="OpretBugItemSoap" />
        </client>
    </system.serviceModel>
</configuration>